@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top Movie App</h1>
    <p class="lead">Top Grossing Movies of 2017.</p>    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
           This site contains a list of the top grossing movies of 2017.  Please select a movie
            from the list to view it's details.
        </p>        
    </div>  

    <div class="col-md-6">
        <h2>How To View The List</h2>
        <p>
            To view a list of the top grossing movies of 2017, click the button below.
        </p>
        <button type="button" onclick="location.href='@Url.Action("Index", "Movie")'" class="btn">Movie List</button>
    </div>
</div>